name: molecule
on: [push]
jobs:
  ansible-molecule:
    runs-on: ubuntu-latest
    steps:
      - name: check out the code
        uses: actions/checkout@v2
      - name: configure molecule
        run: | 
          sudo apt-get -y update
          python3 -m pip install molecule[docker]
          python3 -m pip install ansible==2.9.24
      - name: run molecule against roles
        run: |
          for i in $(ls -d roles/*/) ; do cd $i ; molecule test ; cd ../.. ; done
      - name: run molecule against playbook
        run: |
          cd $GITHUB_WORKSPACE
          molecule test
